body {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	max-width: 960px;
	background-color: #e6e6e6;
	font-family: 'Lato', sans-serif;
}

.topBanner {
	max-width: 960px;
}

.logo {
	max-width: 960px;
	font-weight: 400;
	font-size: 20px;
	color: #fff;
}

.socialMedia {
	text-decoration: none;
	display: flex;
	justify-content: flex-end;
}


/*.....................Menu.....................*/

.navBanner {
	width: 100%;
	max-width: 960px;
	/*height: 40px;*/
	margin: 0 auto;
	background-color: rgb(244, 173, 40);
}


}
nav ul {
	list-style-type: none;
	padding: 0;
}
ul {
	margin-right: 25px;
}
nav a {
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 10px;
	font-size: 12px;
	color: #484848;
}
nav a:hover {
	background-color: #f2ca80;
}
nav li {
	list-style: none;
}
@media screen and (min-width: 768px) {
	nav ul {
		display: flex;
		justify-content: flex-end;
	}
	
	.logo {
		margin-left: 25px;
		text-align: left;
	}
}

/*.....................SLIDES.....................*/

/* Slideshow container */
.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: -16px 0;
	padding: 0;
}

/* Next & previous buttons */
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: rgba(255, 255, 255, 0.64);
	font-weight: bold;
	font-size: 20px;
	transition: 0.6s ease;
	border-radius: 0 4px 4px 0;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
	background-color: rgb(244, 173, 40);
}

/* Caption text 

.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}*/

/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 13px;
	width: 13px;
	margin: 0 2px;
	background-color: #ffffff;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.active,
.dot:hover {
	background-color: rgb(244, 173, 40);
}

/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}
@-webkit-keyframes fade {
	from {
		opacity: .4
	}
	
	to {
		opacity: 1
	}
}
@keyframes fade {
	from {
		opacity: .4
	}
	
	to {
		opacity: 1
	}
}

/*.....................FOOTER.....................*/
.footer {
	max-width: 960px;
	height: 70px;
	background-color: rgb(244, 173, 40);
	text-align: center;
	line-height: 70px;
}